/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo layer_bt   &kp N9  &kp N8  &kp N7  &kp BSPC
                &kp N6         &kp N5  &kp N4  &none   &none
                &kp DOT        &kp N3  &kp N2  &kp N1  &kp N0
            >;
        };

        layer_bt {
            bindings = <
                &trans &trans &trans &trans &bt BT_CLR
                &trans &trans &trans &none  &none
                &trans &trans &trans &trans &trans
            >;
        };
    };
};
