/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp 1    &kp 2    &kp 3
                &kp TAB   &kp Q    &kp W    &kp E
                &kp LSHFT &kp A    &kp S    &kp D
                &kp LCTRL &kp Z    &kp X    &kp C
            >;
        };
    };
};
